.buttonsBox {
  text-align: center;
}
.buttons {
  display: inline-block;
  gap: 5px;
}
.buttonBtn {
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 28px;
  margin-right: 25px;
}
.buttonBtn:nth-last-child(1) {
  margin-right: 0;
}

.buttonBtn:active {
  background-color: rgba(0, 0, 255, 0.331);
  color: white;
}
