.statisticsBox {
}
.statisticsTitle {
  font-size: 32px;
  color: rgb(139, 139, 139);
}
.statisticsList {
  border: 1px solid #000;
  border-radius: 25px;
  list-style: none;
  text-align: left;
  margin: 30px 160px;
  padding: 30px;
}
.statisticsElement {
  font-size: 24px;
  line-height: 2;
  font-weight: 500;
}
